---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import QuienSoy from '../components/QuienSoy.astro';
import Paquetes from '../components/Paquetes.astro';
import ServicioVideo from '../components/ServicioVideo.astro';
import Galeria from '../components/Galeria.astro';
import Testimonios from '../components/Testimonios.astro';
import Contacto from '../components/Contacto.astro';
import '../styles/global.css';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <QuienSoy />
    <Galeria />
    <Testimonios />
    <Paquetes />
    <ServicioVideo />
    <Contacto />
  </main>
</Layout>
